body {
  background-color: #f5f8ff;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 48px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

#home {
  color: #252432;
  font-weight: 700;
}

#shop,
#about_us {
  color: #8987a1;
}
#cart {
  color: #000000;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 120px;
}
.hero-section > div {
  max-width: 900px;
}

.always_text {
  font-family: "Noto Serif";
  font-size: 65px;
  font-weight: bold;
  margin-top: 162px;
  margin-bottom: 0;
}
.our-plants {
  display: flex;
  justify-content: center;
}

.our-plants-title {
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: bold;
  margin-top: 162px;
  margin-bottom: 0;
  text-align: center;
}
.our-plants-description {
  font-size: 22px;
  color: #00000080;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 49px;
}
.flowers_text {
  font-family: "Noto Serif";
  color: #e95a08;
  font-size: 65px;
  margin-top: 13px;
  margin-bottom: 0;
}
.hero-description {
  color: #00000080;
  font-size: 22px;
  margin-top: 13px;
}
.hero-section img {
  margin-top: 106px;
  width: 100%;
}

.plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 230px;
}
.plants-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants-card img {
  width: 100%;
  margin-bottom: -22px;
}
.flower-name {
  color: #111111;
  font-weight: 500;
  font-size: 22px;
  font-family: "Inter";
}
.flower-price {
  color: #111111;
  font-weight: 700;
  font-size: 22px;
  font-family: "Inter";
  margin-top: -23px;
}
.btn-primary {
  background-color: #e95a08;
  border: none;
  padding: 15px 50px;
  color: white;
  font-family: "Inter";
}
.plants-cards .btn-primary {
  margin-top: -25px;
  width: 100%;
}

.plantslover {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  column-gap: 45px;
  position: relative;
  margin-bottom: 133px;
}
.plantslover-title {
  font-family: "Noto Serif";
  font-size: 50px;
  margin-bottom: 20px;
  max-width: 425px;
}
.plantslover ul {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}
.plantslover ul li {
  font-family: "Inter";
  list-style: disc;
  color: #00000080;
  font-size: 22px;
  padding: 0px;
}
.trusted-badge {
  position: absolute;
  top: -129px;
  left: 397px;
  width: 286px;
  height: 286px;
}
.lastest-deals-cards {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.deals-description {
  font-size: 22px;
  color: #00000080;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 130px;
}
.deals-card-bloom {
  grid-area: 1 / 1 / 2 / 2;
  font-family: "Noto Serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 366px;
  height: 200px;
  border-radius: 10px;
  background-image: linear-gradient(#00000066), url("./assets/deal-bloom.png");
  color: white;
}
.deals-card-ana {
  grid-area: 2 / 1 / 3 / 2;
  font-family: "Noto Serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 366px;
  height: 200px;
  border-radius: 10px;
  background-image: linear-gradient(#00000066), url("./assets/deal-ana.png");
  color: white;
}

.deals-card-zabo {
  grid-area: 1 / 2 / 3 / 3;
  grid-column: span 2;
  font-family: "Noto Serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(#00000066), url("./assets/deal-zabo.png");
  color: white;
}

.deals-card-title {
  font-size: 20px;
  font-weight: 700;
}
.deals-card-zabo .deals-card-title {
  font-size: 40px;
}
.deals-card-zabo .deals-card-link {
  font-size: 30px;
}
.deals-card-link {
  text-decoration: underline;
  color: white;
}

.join {
  text-align: center;
  font-family: "Noto Serif";
  padding-top: 130px;
  padding-bottom: 130px;
  width: 100%;
  color: white;
  background-image: linear-gradient(#07334f66),
    url("./assets/news-letter-bg.png");
  background-position: center;
  background-size: cover;
}
.join div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-title {
  font-family: "Noto Serif";
  font-size: 50px;
  color: #ffffff;
}
.join input[type="email"] {
  font-family: "Inter";
  color: #00000080;
  padding: 8px 20px 8px 20px;
  height: 32px;
  width: 644px;
  border: none;
}

.footer-box {
  padding: 50px 160px 50px 160px;
  display: flex;
  gap: 110px;
}
.footer-box a {
  color: rgb(107, 114, 128);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.link-box ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
}
.social-box {
  display: flex;
  gap: 32px;
}
.social-box img {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 576px) {
  #home,
  #shop,
  #about_us {
    display: none;
  }
  .hero-section {
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
  .hero-text {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
  }
  .always_text {
    margin-top: 28px;
  }
  .hero-section img {
    margin-top: 79px;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
  }
  #cart {
    font-size: 16px;
  }
  .logo {
    width: 63px;
    height: 38px;
  }
  .always_text,
  .flowers_text {
    font-size: 24px;
  }
  .our-plants-title {
    font-size: 24px;
    margin-top: 35px;
  }
  .our-plants-description {
    font-size: 14px;
  }
  .plants-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 15px;
    column-gap: 28.5px;
  }
  .flower-name {
    font-size: 16px;
    margin-top: 55px;
  }
  .btn-primary {
    padding: 16px 45px;
  }
  .trusted-badge {
    display: none;
  }

  .plantslover {
    flex-direction: column;
    margin-top: 41.5px;
    max-width: 1240px;
    margin-left: 17px;
    margin-right: 17px;
  }
  .plantslover-title {
    font-size: 24px;
    margin-top: 16px;
  }
  .plantslover ul li {
    font-size: 14px;
  }
  .plantslover ul {
    row-gap: 16px;
  }
  .lastest-deals-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin-top: -43px;
    margin-left: 30px;
    margin-bottom: 130px;
  }

  .deals-card-zabo {
    grid-area: auto;
    grid-column: auto;
    width: 91.5%;
  }

  .deals-card-zabo .deals-card-title {
    margin-top: 64px;
    font-size: 20px;
  }
  .deals-card-zabo .deals-card-link {
    font-size: 16px;
    margin-bottom: 54px;
  }
  .lastest-deals .deals-description {
    margin-bottom: 80px;
  }
  .join-title {
    font-size: 25px;
  }
  .join input[type="email"] {
    width: 170px;
    padding: 8px 20px 8px 20px;
  }
  .footer-box .deals-description {
    margin-bottom: 1px;
  }
  .footer-box {
    flex-direction: column;
     padding: 20px;
     gap: 15px;
     margin-bottom: 50px;
  }
}
