body {
  background-color: #f5f8ff;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 48px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

#home {
  color: #252432;
  font-weight: 700;
}

#shop,
#about_us {
  color: #8987a1;
}
#cart {
  color: #000000;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 120px;
}
.hero-section > div {
  max-width: 900px;
}

.always_text {
  font-family: "Noto Serif";
  font-size: 65px;
  font-weight: bold;
  margin-top: 162px;
  margin-bottom: 0;
}
.our-plants {
  display: flex;
  justify-content: center;
}

.our-plants-title {
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: bold;
  margin-top: 162px;
  margin-bottom: 0;
  text-align: center;
}
.our-plants-description {
  font-size: 22px;
  color: #00000080;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 49px;
}
.flowers_text {
  font-family: "Noto Serif";
  color: #e95a08;
  font-size: 65px;
  margin-top: 13px;
  margin-bottom: 0;
}
.hero-description {
  color: #00000080;
  font-size: 22px;
  margin-top: 13px;
}
.hero-section img {
  margin-top: 106px;
  width: 100%;
}

.plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.plants-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants-card img {
  width: 100%;
  margin-bottom: -22px;
}
.flower-name {
  color: #111111;
  font-weight: 500;
  font-size: 22px;
  font-family: "Inter";
}
.flower-price {
  color: #111111;
  font-weight: 700;
  font-size: 22px;
  font-family: "Inter";
  margin-top: -23px;
}
.btn-primary {
  background-color: #e95a08;
  border: none;
  padding: 15px 50px;
  color: white;
  font-family: "Inter";
}
.plants-cards .btn-primary {
  margin-top: -25px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  #home,
  #shop,
  #about_us {
    display: none;
  }
  .hero-section {
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
  .hero-text {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
  }
  .always_text {
    margin-top: 28px;
  }
  .hero-section img {
    margin-top: 79px;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
  }
  #cart {
    font-size: 16px;
  }
  .logo {
    width: 63px;
    height: 38px;
  }
  .always_text,
  .flowers_text {
    font-size: 24px;
  }
  .our-plants-title {
    font-size: 24px;
    margin-top: 35px;
  }
  .our-plants-description {
    font-size: 14px;
  }
  .plants-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 15px;
    column-gap: 28.5px;
  }
  .flower-name {
    font-size: 16px;
    margin-top: 55px;
  }
  .btn-primary {
    padding: 16px 45px;
  }
}
